# Core functionality - changes here should be rare!
/src/app.py                   @pablismo
/src/backend/database.py      @pablismo  
/src/backend/routers/auth.py  @pablismo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @pablismo
